.board {
    display: flex;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
}

.top {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

.clear {
    margin: auto;
}

.grid {
    background-color: antiquewhite;
}