.board {
    display: flex;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    border: 1px solid black;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

.clear {
    margin: auto;
}