

.container {
    display: flex;
    border: 2px solid red;
    flex-wrap: wrap;
    justify-self: center;
    width: 600px;
    height: 600px;

}

.grid {
    width: 25px;
    height: 25px;
}

.below {
    display: flex;
    border: 2px solid blue;
    justify-content: center;

}

button {
    border: none;
    border-radius: 10px;
    color: rgb(183, 128, 72);
    background-color: rgb(255, 231, 182);
    padding: 7px 20px;
}

input {
    height: 22px;
    width: 120px;
}

.grid:hover {
    transition: .5s;
}